<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>留言板登录</title>
        <link rel="icon" href="../static/images/icon.ico">
        <link type="text/css" rel="stylesheet" href="../static/css/main.css">
        <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-form.js')}}"></script>
        <script src="{{url_for('static', filename='js/common.js')}}"></script>
    </head>
    <body>
        <p id="first">欢迎进入留言板系统</p>
        <button id="send" type="button">发送</button>
        <div id="log_L">
            <p id="log">请登录</p>
        </div>
        <div id="login">
            <form class="form_1" action="" method="POST">
                <table style="border-spacing:0px 10px;">
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>用户名</td><td><input id="input_uname" type="text" name="user_name_1"></td></tr>
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>密&nbsp&nbsp码</td><td><input type="password" name="pass_word_1"></td></tr>
                    <tr><td><button class="the_log" type="submit">登 录</button></td></tr>
                </table>
            </form>
            <div  id="regist"><a id="a1" href="javascript:void(0)" style="font-family: YouYuan">忘记密码</a> <a id="a2" href="javascript:void(0)" style="font-family: YouYuan">没有账号？注册</a></div>
        </div>

        <div id="tip"><span>用户名或密码不能为空!</span></div>

        <div id="zhuce_Z">
            <a id="zhuce">请注册</a><a id="deng" href="javascript:void(0)">登录</a>
        </div>

        <div id="reg">
            <form class="form_2" action="" method="POST">
                <table style="border-spacing:0px 10px;">
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>用户名</td><td><input id="input_uname_2" type="text" name="user_name_2" placeholder="长度应在6-15之间"></td><td><span id="uname_tips"></span></td></tr>
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>密&nbsp&nbsp码</td><td><input type="password" name="pass_word_2" placeholder="长度应在6-15之间"></td><td><span id="upass_tips"></span></td></tr>
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>邮&nbsp&nbsp箱</td><td><input type="email" name="email"></td></tr>
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>手机号</td><td><input type="text" name="phone"></td><td><span id="phone_tips"></span></td></tr>
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>验证码</td><td><input type="text" name="random_num"></td><td><span></span></td></tr>
                    <tr><td><button class="the_reg" type="submit">注 册</button></td></tr>
                </table>
            </form>
        </div>

        <div id="forget_F">
            <a id="reset">重置密码</a><a id="deng_2" href="javascript:void(0)">登录</a>
        </div>

        <div id="forget">
            <form class="form_3" action="" method="POST">
                <table style="border-spacing:0px 10px;">
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>手机号</td><td><input type="text" name="phone_2"></td><td><span id="phone_tips_2"></span></td><td><button id="send_2" type="button">发送</button></td></tr>
                    <tr style="font-size: 1.3em; font-family: YouYuan"><td>验证码</td><td><input type="text" name="random_num_2"></td><td><span></span></td></tr>
                    <tr><td><button class="the_reset" type="submit">重置</button></td></tr>
                </table>
            </form>
        </div>

        <div id="tip_2"><span></span></div>                    <!--处理忘记密码信息-->
        <div id="tip_3"><span></span></div>                    <!--处理用户名或密码错误 -->
        <div id="tip_4"><span></span></div>                    <!--处理注册验证码错误 -->
        <div id="pass_tip"><span>新密码即验证码！</span></div>                  <!--新密码提示-->

    </body>
</html>